.App {
	display: grid;
	grid-template-rows: auto auto auto;
	grid-template-columns: auto auto auto;
	gap: 1rem;
	padding: 10rem;
}

/* .salary {
	grid-column: 1 / 2;
}

.pay-cycle {
	grid-column: 2 / 3;
}

.super {
	grid-column: 3 / -1;
} */

/* .super-value {
	grid-column: 1 / 2;
}

.resident {
	grid-column: 2 / 3;
} */

.calc {
	grid-column: 1 / -1;
}
