.App {
	display: grid;
	grid-template-areas:
		"header"
		"input-container"
		"switches"
		"table"
		"income-forecast";
	grid-template-rows: auto auto auto auto auto;
	grid-gap: 20px;
	height: 100vh;
	padding-top: 50px;
	padding-left: 100px;
	padding-right: 100px;
}

.header {
	grid-area: header;
}

.input-container {
	grid-area: input-container;
	display: flex;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
}

.input-number {
	grid-column: 1/2;
}

.select {
	grid-column: 2/3;
}

.switches {
	grid-area: switches;
	display: flex;
	grid-gap: 10px;
}

.table {
	grid-area: table;
}

.income-forecast {
	grid-area: income-forecast;
}

.bold-row {
	font-weight: bold;
	background-color: #ecf0f1;
}

@media screen and (max-width: 1250px) {
	.App {
		justify-content: center;
		padding-left: 0px;
		padding-right: 0px;
	}
}
