.App {
	display: grid;
	grid-template-rows: auto auto auto auto;
	/* grid-template-columns: 300px 300px 300px; */
	gap: 1rem;
	padding: 10px 10px 10px 10px;
}

.cfi {
	grid-column: 1 / 4;
	grid-row: 1 / 2;
}

.salary {
	grid-row: 2 / 3;
}

.pay-cycle {
	grid-row: 2 / 3;
}

.super {
	grid-row: 2 / 3;
}

.super-value {
	grid-row: 3 / 4;
}

.resident {
	grid-row: 3 / 4;
}

.medicare {
	grid-row: 3 / 4;
}

.calc {
	grid-column: 1 / 4;
	grid-row: 4 / 5;
}
